
html, body{
    font-family: "Podkova", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden !important; /* Prevenir el desbordamiento horizontal */
}
nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto del elemento padre */
}

.paginar:hover{
    color: rgb(100, 100, 100);
}

.usuario{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 810px){
    .usuario{
        width: 50%;
        justify-content:space-between;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.secciontitulo{
    display: inline-block;
    text-align: center;
    margin: 0;   
}

.secciontitulo h1{
    margin: 2px;
}

.adorno{
    width: 400px;
    background-color: #F1B038;
    height: 20px;
    border-radius: 20px;
    margin-top: 1%;
}

.seccionurl{
    width: 70%;
    margin-top: 8%;
}

.formurl1{
    margin-top: 2%;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.input1{
    width: 75%;
    border: 2px solid #969696;
    height: 100%;
    font-family: "Podkova", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-left: 15px;
}

.button1{
    margin-left: 2%;
    background-color: #C6E9F3;
    border: 2px solid #969696;
    height: 115%;
    font-family: "Podkova", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: large;
    font-style: normal;
    width: 17.5%;
}

.button1:hover{
    cursor: pointer;
    background-color: #b8d8e0;
}

@media screen and (max-width: 810px){
    .adorno{
        margin-bottom: 80px;
    }
    nav{
        margin-bottom: 50px;
    }
}

.adorno.login{
    width: 210px;
}


.logform{
    width: 60%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.formsec{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    width: 100%;
}

.input1.login{
    height: 30px;
    margin-top: 2px;
    width: 100%;
}

.button1.login{
    margin-left: 0;
    margin-top: 3%;
    height: 2.2em;
    width: 150px;
}

.adorno.logup{
    width: 125px;
}

.logform.logup{
    margin-top: 20px;
}

footer{
    background-color: gray;
    margin-top: 26.5%;
    height: 12em;
}

.secredes{
    background-color: rgb(78, 78, 78);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30%;
}

.desarrollado{
    background-color: black;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desarrollado h4{
    color: rgb(238, 238, 238);
}

.github{
    margin-left: 25px;
    margin-right: 25px;
}

.seccionurl.user{
    margin: 0;
    margin-top: 1.8%;
    margin-bottom: 7%;
}

.tusdirecciones{
    width: 70%;

    display: flex;
    flex-direction: column;
}

.ejemplo{
    border: 2px solid rgba(131, 130, 130, 0.507);
    border-radius: 5px;

    width: 90%;
    display: flex;

    flex-direction: column;
}

.seccionejemplo{
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    align-self: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.botonesejemplo{

    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}

.button1.botonejemplo{
    margin: 0;
    height: 2.3em;
    width: 9em;
}

.ejemplo h3{
    margin-left: 3%;
}

.button1.botonejemplo.copiar{
    background-color: #E7E7E7;
}

.button1.botonejemplo.modificar{
    background-color: #fcd897;
}

.button1.botonejemplo.eliminar{
    background-color: #F3C6C6;
}

.errores{
    margin-top: 15px;
}

.error{
    margin-top: 8px;
    color: red;
}

.paginar.useremail{
    border-bottom: 2px solid #f1b0387a;
}

.longurlh3{
    color: rgba(0, 0, 0, 0.425);
    font-size: 15px;
}

.shorturlh3{
    margin-right: 3px;
}

.enlaceshorturl{
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.enlaceshorturl h3{
    margin-right: 2px;
}

.shorturldiv{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.nolinks{

    text-align: center;
    margin-top: 5%;
}

.inputmodificar{
    color: rgba(0, 0, 0, 0.425);
    width: 73%;
        padding: 8px; /* Agrega espacio alrededor del texto dentro del input */
        border: 1px solid #ccc; /* Agrega un borde delgado alrededor del input */
        border-radius: 4px; /* Redondea las esquinas del input */
        background-color: #f9f9f9; /* Establece el color de fondo */
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); /* Agrega una sombra sutil al input *//* Establece el ancho al 100% para que se ajuste al contenedor */
        box-sizing: border-box; /* Hace que el ancho incluya el borde y el relleno */
        font-family: "Podkova", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-size: 15px;
        font-style: normal;
}

.confirmarcambios{
    background-color: #daf3d5;
    border: 2px solid #969696;
    font-family: "Podkova", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 15px;
    font-style: normal;
    cursor: pointer;
}


.modificarform{
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button1.botonejemplo.modificar:active{
    background-color: #d8ba81;
}
.button1.botonejemplo.eliminar:active{
    background-color: #cca6a6;
}
.button1.botonejemplo.copiar:active{
    background-color: #b8b7b7;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté por encima de todo lo demás */
}

.modal-contenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative; /* Para que el span pueda tener una posición absoluta dentro */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-contenido h2{
    margin-bottom: 5%;
}

.modal-contenido p{
    font-family: "Podkova", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style:italic;
    font-size: large;
}

.modallink{
    color: #F1B038;
}

.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #666;
}

/* Estilos para los botones dentro del modal */
.boton-modal-iniciar-sesion,
.boton-modal-registrarse {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.boton-modal-iniciar-sesion:hover,
.boton-modal-registrarse:hover {
    background-color: #0056b3;
}

.boton-modal-iniciar-sesion:hover,
.boton-modal-registrarse:hover {
    background-color: #0056b3;
}


@media screen and (max-width: 810px){
    .seccionurl.inicio{
        width: 90%;
    }
}

@media screen and (max-width: 1100px){
    .seccionejemplo{
        width: 90%;
        margin-top: 8%;
        margin-bottom: 3%;
    }
    .nolinks{
        margin-top: 20%;
    }
    .tusdirecciones{
        width: 90%;
    }
    .seccionurl.user{
        width: 90%;
    }
}

.seccionurl.inicio {
    margin-top: 15%;
}

.secciontitulo{
    margin-top: 3%;
}

nav{
    margin-top: 2%;
}

@media screen and (max-width: 924px){
    .secciontitulo{
        margin-top: 6%;
    }
    .seccionurl.inicio {
        margin-top: 20%;
    }
    
}

@media screen and (max-width: 700px){
    .seccionurl.inicio {
        margin-bottom: 20%;
    }
    
}

@media screen and (max-width: 500px){
    nav img{
        width: 40px;
    }
    .usuario{
        width: 70%;
        justify-content: end;
    }
    .usuario h4{
        padding-left: 6px;
        padding-right: 6px;
    }
    nav{
        margin-bottom:50%;
    }
    .adorno{
        width: 260px;
        height: 10px;
    }
    .button1{
        font-size: 12px;
    }
    .tusdirecciones{
        margin-top: 15%;
    }
}


@media screen and (max-width: 375px){
    .paginar.useremail{
        display: none;
    }
}
